/* General Styles */
:root {
    --black: #000F20;
    --red: #B71A2E;
    --teal: #609CB5;
    --green: #A1B63F;
    --sky: #C2DBEB;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/*Header  Styles*/
header {
    padding: 20px 35px;
    background-color: var (--green);
    background-image:url(hero.jpg);
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}
header h1 {
    font-weight: bold;
    font-family: 'Baskerville';
    font-size: 36px;
    color: var(--black);
    margin: 0;
}
header a {
    text-decoration: none;
    color: var(--teal);
}
/*Nav Styles*/
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-family:'Dosis';
    font-weight: bolder;
    font-size: 1.8vw;
    text-shadow: 0 0 10px rgba(28, 139, 187, 0.9);
}
header nav ul li a:hover {
    background: var(--teal);
    color: var(--green);
    border-radius: 15px;
    text-shadow: none;
}
/*Hero Styles*/



/* My Featured Work Style */



/* Footer Style */
footer {
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--red);
    font-size: 15px;
    margin: 0
}


