/* General Styles */
:root {
    --black: #000F20;
    --red: #B71A2E;
    --teal: #609CB5;
    --green: #A1B63F;
    --sky: #C2DBEB;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/*Header  Styles*/
header {
    padding: 20px 35px;
    background-color: var (--green);
    background-image:url(hero.jpg);
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}
header h1 {
    font-weight: bold;
    font-family: 'Baskerville';
    font-size: 36px;
    color: var(--black);
    margin: 0;
}
header a {
    text-decoration: none;
    color: var(--teal);
}


/*Nav Styles*/
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 15px 50px;
    font-family:'Dosis';
    font-weight: bolder;
    font-size: 1.8vw;
    text-shadow: 0 0 10px rgba(28, 139, 187, 0.5);
}
header nav ul li a:hover {
    background: var(--teal);
    color: var(--green);
    border-radius: 15px;
    text-shadow: none;
}

/*Main Section Styles*/
.content {
    height: 600px;
    background-image: url(hero.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 100px;
}
.greet-wrapper {
    width: 40%;
    height: 250px;
    background-color: var(--teal);
    color: var(--black);
    border: solid 3px var(--red);
    margin: 3.5%;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.greet-wrapper h2 {
    font-family: "Baskerville";
    font-weight: bold;
    margin-left: 2em;
    line-height: 4em;
}

.greet-wrapper p {
    font-family: "Dosis";
    font-size: 15px;
    line-height: 1em;
}

.greeting {

}


/* My Featured Work Style */
.portfolio {
    height: 600px;
    margin: 0;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
}
#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
}
div .item {
    position: absolute; 
    width: 300px;
    height: 400px;
    background-color: var(--red);
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
        translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
    --offset:1;
    background-color: var(--sky);
}
div.item:nth-of-type(2) {
    --offset:2;
    background-color: var(--teal);
}
div.item:nth-of-type(3) {
    --offset:3;
    background-color: var(--green);
}
div.item:nth-of-type(4) {
    --offset:4;
    background-color: var(--red);
}
div.item:nth-of-type(5) {
    --offset:5;
    background-color: var(--sky);
}

/* Reach Out Section */


/* Footer Style */
footer {
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--red);
    font-size: 15px;
    margin: 0
}


